body {
    background-image: url('aluno1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    opacity: 90%;
}

.container::before {
    content: "";
    position: absolute;
    align-items: center;
    width: 70%; /* Aumentado para 80% */
    height: 70%; /* Aumentado para 80% */
    background-color: white;
    opacity: 0.9;
    z-index: -1;
    border-radius: 5%;
}

.text-container {
    background-color: white;
    padding: 20px; /* Reduzido para 15px */
    border-radius: 10px;
    position: relative;
    width: 70%;
    height: 60%;
}

.text {
    font-size: 50px; /* Aumentado para 28px */
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    flex-direction: column;
    margin-top: 20%;
}

.input {
    font-size: 30px; /* Aumentado para 18px */
    border: 2px solid #007aff;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10%;
    width: 440px;
    height: 80px;
}

.label {
    font-size: 18px; /* Aumentado para 18px */
}

button {
    padding: 20px 20px;
    background-color: #007aff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: 90%;
    font-size: 30px;
    top: 20px;
}

.senha {
    font-size: 15px;
}

.cadastro {
    margin-top: 20%;
}