body {
    background-image: url('aluno1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Adiciona a propriedade position: relative ao container */
    opacity: 90%;
}

.text-container { /* Nova classe para o container do texto */
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Arredonda as bordas do retângulo */
    position: relative; /* Adiciona a propriedade position: relative ao container do texto */
    width: 70%;
    height: 60%;
}

.text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    flex-direction: column;
    margin-top: 20%;
}

.input {
    border: 2px solid #007aff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
    width: 200px;
}

.label {
    font-size: 18px; /* Aumentado para 18px */
}

button {
    padding: 10px 10px;
    background-color: #007aff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 70%;
}

.senha {
    font-size: 15px;
}

.cadastro {
    margin-top: 20%;
}